.content-transition-1 {
  height: 20%;
  width: calc(100% - 53%);
  position: absolute;
  top: 0%;
  left: calc(100% - 38%);
  transition: transform 0.5s linear;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.content-transition-2 {
  height: 110vh;
  position: absolute;
  left: calc(100% - 25%);
  top: calc(90% - 100%);
  transition: transform 0.5s linear;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.content-transition-1-end {
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -o-transform: translateX(-10%);
  transform: translateX(-10%);
}

.content-transition-2-end {
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
}
