/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  horizontal-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* paginacion */
.pagination {
  height: auto;
  width: calc(100% - 0%);
}
.cd-horizontal-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  left: 31%;
  width: calc(100% - 62%);
  top: 90%;
  bottom: auto;
  opacity: 0.2;
  transition: opacity 0.5s linear;
  -webkit-transform: translateY(-11%);
  -moz-transform: translateY(-11%);
  -ms-transform: translateY(-11%);
  -o-transform: translateY(-11%);
  transform: translateY(-11%);
}

.cd-horizontal-nav:hover {
  /* lateral navigation */

  opacity: 1;
}

.cd-horizontal-nav a {
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  left: calc(100% - 30%);
  top: 20%;
  z-index: 2;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(/img/cd-icon-arrow-left.svg) no-repeat center center;
}
.cd-horizontal-nav a.pg-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  left: calc(100% - 80%);
  top: 25%;
}
.cd-horizontal-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.active {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

/* Paneles */

.panel0 {
  height: auto;
  max-width: calc(100% - 0%);
}

/* grip container */

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 40px 1fr;
}

aside {
  background-color: #000000;
  width: calc(100% - 97%);
  height: 100vh;
  display: grid;
  flex-direction: column;
  position: fixed;
  z-index: 99;
}

@media only screen and (max-width: 640px) {
  aside {
    background-color: #000000;
    width: calc(100% - 89%);
    height: 100vh;
    display: grid;
    flex-direction: column;
    position: fixed;
    z-index: 99;
  }
}

aside a p{
  
  color: #fff;
  font-family: "Archer-Bold";
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 20%;
  margin-left: 25%;
  margin-bottom: 20%;
}

aside a.p1 {
  background-color: rgb(39, 27, 27);
  height: auto;
  width: 100%;
  text-decoration: none;
  margin-top: 100%;
}

aside a.p2 {
  background-color: rgb(115,114,119);
  text-decoration: none;
  height: auto;
  width: 100%;
}

aside a.p3 {
  background-color: rgb(0,162,150);
  text-decoration: none;
  height: auto;
  width: 100%;
}
aside a.p4 {
  background-color: rgb(60,195,62);
  text-decoration: none;
  height: auto;
  width: 100%;
}
aside a.p5 {
  background-color: rgb(233,0,0);
  text-decoration: none;
  height: auto;
  width: 100%;
}
aside a.p6 {
  background-color: rgb(33,91,188);
  text-decoration: none;
  height: auto;
  width: 100%;
}
aside a.p7 {
  background-color: yellow;
  text-decoration: none;
  height: auto;
  width: 100%;
}
aside a.p8 {
  background-color: orange;
  text-decoration: none;
  height: auto;
  width: 100%;
}
