.content-transition-1 {
	height: 15%;
	width: calc(100% - 70%);
	position: absolute;
	top: calc(95% - 100%);
	left: calc(100% - 20%);
	transition: transform 0.5s linear;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.content-transition-2 {
	height: 100vh;
	position: absolute;
	left: calc(65% - 100%);
	width: calc(100% - 65%);
	transition: transform 0.5s linear;
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	-o-transform: translateX(-10%);
	transform: translateX(-10%);
}

.content-transition-1-end {
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	-o-transform: translateX(-10%);
	transform: translateX(-10%);
}

.content-transition-2-end {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.content-transition-3 {
	height: 20%;
	position: absolute;
	left: calc(100% - 40%);
	width: calc(100% - 55%);
	top: 40%;
	transition: transform 0.5s linear;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.content-transition-3-end {
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	-o-transform: translateX(-10%);
	transform: translateX(-10%);
}

.content-transition-4 {
	height: 20%;
	position: absolute;
	left: calc(40% - 100%);
	top: 75%;
	width: calc(100% - 45%);
	transition: transform 0.5s linear;
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	-o-transform: translateX(-10%);
	transform: translateX(-10%);
}

.content-transition-4-end {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}